{{ define "body"}}
  <main>
    {{ range .Site.Sections }}
      <article class="w3-panel">
        <div class="w3-card">
          <header class="w3-container w3-teal w3-hover-red w3-nodeco">
            <a href="{{ .URL }}">
              <h1>{{ .Title }}</h1>
            </a>
          </header>

          <div class="w3-white">
            <ul class="w3-ul w3-hoverable w3-myfont2">
              {{ range first 5 .Pages.ByDate }}
                <li><a href="{{ .URL }}">{{ .Title }}</a></li>
              {{ end }}
            </ul>
          </div>

          <footer class="w3-container w3-amber">
            <h6 class="w3-right">
              <a href="{{ .URL }}"> More >></a>
            </h6>
          </footer>
        </div>
      </article>

    {{ end }}
  </main>

<script>
  document.body.style.backgroundColor = "lightgrey";
</script>

{{ end }}
