.w3-myfont1 {
  font-family: 'Permanent Marker', sans-serif;
  /* text-align: center; */
  /* font-size: 10vw; */
  /* margin-top: 10%; */
}

@media only screen and (min-width: 1100px) {
  main {
    margin-left: 15%;
    margin-right: 15%;
  }
}

.w3-myfont2 {
  font-family: 'Noto Sans TC', sans-serif;
}

i.material-icons {
  position: absolute;
}

a {
  text-decoration: none;
}

#navbar {
  overflow: hidden;
  background-color: #333;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

/* Animation Call-2-Action element */
.c2a:hover {
  -webkit-transform: scale(1.5);
  -ms-transform: scale(1.5);
  transform: scale(1.5);
}

/* Responsive iFrame */
.iframe-container {
  overflow: hidden;
  padding-top: 60%;
  position: relative;
}

.iframe-container iframe {
   border: 0;
   height: 100%;
   left: 0;
   position: absolute;
   top: 0;
   width: 100%;
}

/* 4x3 Aspect Ratio */
.iframe-container-4x3 {
  padding-top: 75%;
}
