<!DOCTYPE html>
<html lang="{{ with $.Site.LanguageCode }}{{ . }}{{ else }}en-us{{ end }}">
  {{partial "head.html" . }}
  <body style="background-color:lightgrey">
    {{ partial "nav.html" . }}
    {{ block "body" .   }} {{ end }}
    {{ partial "footer.html" . }}

    <!--Google adsense on everypage  -->
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
      <script>
           (adsbygoogle = window.adsbygoogle || []).push({
                google_ad_client: "ca-pub-2357444200747970",
                enable_page_level_ads: true
           });
    </script>

  </body>
</html>
