{{ define "body"}}
<main class="">
  <header class="w3-container">
   <h3>All {{ .Title }}<h3>
  </header>

  {{ range .Pages.ByDate }}
    <div class="w3-container">
      {{ dateFormat "Monday,Jan 2, 2006" .Lastmod }}
    </div>

    <article class="w3-panel">
      <a href="{{ .URL }}" style="text-decoration: none;">
        <div class="w3-white w3-cell-row">
          <div class="w3-cell w3-hide-small">
            {{ with .Resources.Match "hero*"}}
              {{ range . }}
                {{ with .Resize "400x" }}
                  <img src="{{.RelPermalink }}" class="w3-bar-item w3-hide-small" style="width:250px">
                {{end}}
              {{ end }}
            {{ else }}
              <img src="/img/workday.jpg" class="w3-bar-item w3-hide-small" style="width:250px">
            {{ end }}
          </div>
          <div class="w3-cell w3-cell-top">
            <header class="w3-container w3-text-deep-orange">
                <h2>{{ .Title }}</h2>
                {{ partial "labels.html" . }}
            </header>
            <div class="w3-white w3-padding">
              {{ .Summary }}
            </div>
          <footer class="w3-container">
            <h6 class="w3-text-theme">
              <strong>
                <a href="{{ .URL }}" style="text-decoration: none"> READ ARTICLE ></a>
              </strong>
            </h6>
          </footer>
        </div>
      </a>
    </article>
  {{ end }}
</main>
{{ end }}
