{{ define "body"}}
<main>
  <div class="w3-container w3-myfont2">
    {{ dateFormat "Monday,Jan 2, 2006" .Lastmod }}
  </div>
    <article class="w3-panel">
      <div class="w3-card">
        <header class="w3-container w3-teal w3-nodeco">
          <a href="{{ .URL }}">
            <h1>{{ .Section }}</h1>
          </a>
        </header>

        <div class="w3-white w3-container w3-myfont2">
          {{ .Content }}
        </div>

        <footer class="w3-container w3-amber">
          <div class="w3-bar w3-amber">
            <a href="{{if .PrevInSection}}{{.PrevInSection.Permalink}}{{end}}" class="w3-bar-item w3-button w3-hover-red">Previous Section</a>
            <a href="{{if .PrevPage}}{{.PrevPage.Permalink}}{{end}}" class="w3-bar-item w3-button w3-hover-blue">Previous Page</a>
            <a href="{{if .NextPage}}{{.NextPage.Permalink}}{{end}}" class="w3-bar-item w3-button w3-hover-green">Next Page</a>
            <a href="{{if .NextInSection}}{{.NextInSection.Permalink}}{{end}}" class="w3-bar-item w3-button w3-hover-teal">Next Section</a>
          </div>
        </footer>
      </div>
    </article>
</main>

<script>
  document.body.style.backgroundColor = "lightgrey";
</script>

{{ end }}
