<header class="intro-and-nav" role="banner">
  <div>
    <div class="intro">
      <a class="logo" href="/" aria-label="{{ .Site.Title }} home page">
        <img src="{{ "images/logo.svg" | absURL }}" alt="">
      </a>
      <p class="library-desc">
        {{ with .Site.Params.description }}
          {{ . | markdownify }}
        {{ end }}

      </p>
    </div>
    {{ partial "nav.html" . }}
    <div style="margin:1px;padding:0%;text-align: center">
      <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top" style="margin:0%;padding: 0%">
        <input type="hidden" name="cmd" value="_s-xclick" />
        <input type="hidden" name="hosted_button_id" value="4MBKJM45QQXE6" />
        <input type="image" src="https://www.paypalobjects.com/en_US/DK/i/btn/btn_donateCC_LG.gif" border="0" name="submit" title="PayPal - The safer, easier way to pay online!" alt="Donate with PayPal button"  style="margin:0%;padding: 0%"/>
        <img alt="" border="0" src="https://www.paypal.com/en_DE/i/scr/pixel.gif" width="1" height="1" />
      </form>
    </div>
  </div>
</header>