{{ $sec := .Section }}
{{ if or .PrevInSection .NextInSection }}
<nav id="patterns-nav" class="date" role="navigation" style="width: 100%">
  <span>
    {{ if .PrevInSection }}
      <a href="{{ .PrevInSection.Permalink }}" style="float:left">
        <i class="fa fa-arrow-circle-left"></i>
        {{ .PrevInSection.Title }}
      </a>
    {{ end }}
  </span>
  <span>
    {{ if .NextInSection }}
    <a href="{{ .NextInSection.Permalink }}" style="float:right">
        {{ .NextInSection.Title }}
        <i class="fa fa-arrow-circle-right"></i>
    </a>
    {{ end }}
  </span>
  {{ end }}

  <div>
    <span>
      {{ with .Site.Sections}}
      {{ range .}}
      <a href="{{.RelPermalink}}" {{if eq .Section $sec}}class="active"{{end}}>
        {{ .Title }}
      </a>
      {{ end }}
      {{ end }}
    </span>
  </div>
</nav>
<!-- could use some JS -->