{{ $sec := .Section }}
{{ if or .PrevInSection .NextInSection }}
<nav id="patterns-nav" class="date" role="navigation" style="width: 100%">
  <div>
  {{ if .PrevInSection }}
      <a href="{{ .PrevInSection.Permalink }}" class="" style="float:left">
        << {{ .PrevInSection.Title }}
      </a>
    {{ end }}
        
    {{ if .NextInSection }}
      <a href="{{ .NextInSection.Permalink }}" class="" style="float:right">
        {{ .NextInSection.Title }} >>
      </a>
    {{ end }}
  </div>
</br>
  {{ with .Site.Sections}}
  <div>
    {{ range .}}
    <a href="{{.RelPermalink}}" {{if eq .Section $sec}}class="active"{{end}} style="text-align: center">
      {{ .Title }}
    </a>
    {{ end }}
  </div>
  {{ end }}
</nav>
                
<!-- could use some JS -->
{{ end }}