<section class="w3-container w3-text-theme">
  <h3 class="w3-panel w3-center">
    Subscribe to Mailing list
  </h3>
  <form style="border:1px solid #ccc;padding:3px;text-align:center;"
    action="https://feedburner.google.com/fb/a/mailverify" method="post" target="popupwindow"
    onsubmit="window.open('https://feedburner.google.com/fb/a/mailverify?uri=avimehenwal/vExB', 'popupwindow', 'scrollbars=yes,width=550,height=520');return true">
    <p>Enter your email address:</p><p><input type="text" style="width:140px" name="email"/>
    </p><input type="hidden" value="avimehenwal/vExB" name="uri"/>
    <input type="hidden" name="loc" value="en_US"/>
    <input class="w3-button w3-theme" type="submit" value="Subscribe" />
  </form>
</section>

<footer class="w3-container w3-theme-d3">
  <div class="w3-container">
    <div class="w3-panel w3-center">
      {{ partial "social.html" . }}
        <a href="{{ .Site.BaseURL }}">@avimehenwal</a>
    </div>
  </div>
</footer>
