{{ define "body" }}
<main class="w3-container w3-center">
  <header>
    <h1 class="w3-myfont1 w3-jumbo">Avi Mehenwal</h1>
  </header>
  <section class="w3-container">
    <div class="w3-myfont2">
      <h4>
        <p>Hi, folks! I'm Avi.</p>
        <p>I live and study in Germany.</p>
        <p>
          <strong>
            <u>
              <a href="/overview">
                <h3>Here</h3> are some
              </a>
            </u>
          </strong> stuff I have made.
        </p>
      </h4>
    </div>
  </section>
</main>
{{ end }}
