{{ define "body"}}
  <main>
    {{ range .Site.Sections.ByDate }}
      <article class="w3-panel">
        <div class="w3-container w3-white w3-round-large">
          <header class="w3-container w3-white">
            <a href="{{ .URL }}" class="no-deco">
              <h1 class="w3-text-deep-orange">My {{ .Title }}</h1>
            </a>
          </header>

          <!-- Main content -->
          <ul class="w3-ul w3-card-4">
            <!--loop on Pages  -->
            {{ range first 5 .Pages.ByDate }}
            <a href="{{ .URL }}" class="no-deco">
              <li class="w3-bar w3-hover-theme">
                {{ with .Resources.Match "hero*"}}
                  {{ range . }}
                    {{ with .Resize "400x" }}
                      <img src="{{.RelPermalink }}" class="w3-bar-item w3-hide-small" style="width:85px">
                    {{end}}
                  {{ end }}
                {{ else }}
                  <img src="/img/workday.jpg" class="w3-bar-item w3-circle w3-hide-small" style="width:85px">
                {{ end }}
                <div class="w3-bar-item">
                  <span class="">{{ .Title }}</span><br>
                  {{ partial "labels.html" . }}
                </div>
              </li>
            </a>
            {{ end }}
          </ul>


          <footer class="w3-container">
            <h6 class="w3-text-theme">
              <strong>
                <a href="{{ .URL }}" class="no-deco">CHECK ALL {{.Title | upper}} ></a>
              </strong>
            </h6>
          </footer>
        </div>
      </article>

    {{ end }}
  </main>
{{ end }}
