{{ define "body" }}
<main class="w3-container">
  <section class="w3-container">
    <div class="w3-myfont2 w3-center">
      <h4>
        <p>Hi, folks! I'm Avi.</p>
        <p>I live and study in Germany.</p>
        <p>
          <strong>
            <u>
              <a href="/overview">
                <h3>Here</h3> are some
              </a>
            </u>
          </strong> stuff I have made.
        </p>
      </h4>
    </div>
  </section>
</main>

<script>
  document.body.style.backgroundColor = "yellow";
</script>
{{ end }}
